.fieldinput
  margin: 1em 0
  &-input
    border: none
    border-bottom: 0.1em solid #5E2E68
    height: 2em
    margin: 1em
    background: none
    color: #5E2E68
    font-size: 2em
    padding-left: 0.1em
  &-input::placeholder
    color: #5E2E68
