.buttonplus
  &-icon
    width: 4em;
    height: 4em;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 0.5em;
    color: #5E2E68
    border: 0.1em solid #5E2E68
    margin-bottom: 1em
  &-icon:hover
    color: white
    background-color: #5E2E68
  h5
    color: #5E2E68
    font-size: 1.5em
