.app-location
  color: #484848
  font-size: 2.5em
  font-weight: bold
  margin: 2em auto 1em
  display: flex
  align-items: center
  justify-content: center
  // border-bottom: 2px solid #484848
  padding: .3em 0
  @media screen and (max-device-width: 768px)
    justify-content: flex-start
.pointer
  width: 1.2em
  height: 1.2em
  margin-right: 1em
  @media screen and (max-device-width: 768px)
    margin-right: 0.5em
