.commentForm
  &-form
    display: flex
    flex-direction: column
    .rating-vote
      &-icon
        width: 3em;
        height: 3em;
        line-height: 100px;
        vertical-align: middle;
        padding: 0.5em;
        color: #5E2E68
        margin-bottom: 1em
      &-icon:hover
        cursor: pointer
        background: #5E2E68
        border-radius: 50%
        color: white
      &-clicked
        margin: 1em 0
        width: 19em
        height: 1px
        background-color: #5E2E68
  &-button
    display: block
