.accessibilite
  margin: 1em 0
  text-align: center
  width: 65%
  h5
    font-size: 1.5em
    font-size: 2em
    color: #5E2E68
    margin: 1em auto
    padding-bottom: 1em
    border-bottom: 2px solid #484848
  &-block
    display: flex
    justify-content: space-around
    &-block
      display: flex
      flex-direction: column
      h6
        margin-top: 0.5em
        text-align: center
        color: #5E2E68
    &-off
      opacity: 0.2
  &-icon
    color: #5E2E68
    font-size: 5em
    font-weight: bold
    margin-right: 0 0.5em 0.5em 0
