.centresinteret
  margin: 1em 0
  color: #484848
  width: 65%
  text-align: center
  h5
    font-size: 2em
    color: #5E2E68
    margin-bottom: 1em
    padding-bottom: 0.1em
  &-title
    border-bottom: 0.1em solid #484848
  &-tags
    display: flex
    margin-top: 1em
  &-tags h6
    background-color: #5E2E68
    font-size: 1.5em
    font-weight: bold
    text-transform: uppercase
    color: white
    padding: 0.5em 1em
    margin-right: 1em
    border-radius: 0.3em
