.commentaire
  border-bottom: 0.1em solid #484848
  padding: 1em
  color: #484848
  font-size: 1.2em
  &-profil
    margin-bottom: 1.5em
  span
    float: right
    color: #5E2E68
    font-weight: bold
  h6
    font-size: 1.2em
    font-weight: bold
    margin-bottom: 0.5em
.quote
  color: #5E2E68
  font-size: 2em
  opacity: 0.5
  margin: 0.5em auto
