.infoslieu
  padding-right: 2em
  margin-bottom: 0.5em
  display: flex
  justify-content: space-between
  h4, h5
    font-size: 3em
    color: #5E2E68
    margin: 0.5em auto
    padding-bottom: 0.1em
  h4
    text-transform: uppercase;
  h5
    font-size: 1.5em
  p
    color: #484848
  div
    margin-bottom: 2em
  &-minimap
    width: 30%
