.upload
  margin-bottom: 3em
  @media screen and (max-device-width: 768px)
    margin: auto
    margin-bottom: 10em
    width: 80%
  img
    max-width: 50%
    max-height: 50%
  &-drop
    border: 3px dotted purple
    border-radius: 1em
    padding: 3em
