{% extends 'base.html.twig' %}

{% block body %}

    <h3>Création de compte presque terminée</h3>

    Bonjour {{ username }}! Votre enregistrement sur Freeworld est presque terminée.
    Merci de cliquer sur le lien ci-dessous afin de confirmer votre adresse mail:

    <a href="http://localhost:8000/user/{{ id }}/activation/{{ key }}">Cliquer ici!!</a>.

    Merci!

{% endblock %}